body {
  font-family: 'Gotham', sans-serif;
}

ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  --overflow: hidden; 
}


.main-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center; 
  padding: 10px;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.translate-button {
  position: relative;
  width: 60px;
  height: 30px;
  margin: auto;
  top: 70px;
  left: 0;
  background: #0f4bb4;
  z-index: 2;
  border-radius: 5px;
}

.translate-span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 30px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Gotham, var(--default-font-family);
  font-size:12px;
  font-weight: 500;
  line-height: 9.6px;
  text-align: center;
  z-index: 6;
}


.s-to-t-section {
  flex-grow: 1;
  position: relative;
  margin: 10px 0;
  align-items: center;
  max-width: 600px;
  top: 80px;
  width: 100%;
  height: 550px;
  font-size: 0px;
  z-index: 10;
}
.sign-to-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 70.833px;
  height: 15.439px;
  margin: 6px 0 0 6px;
  color: #000000;
  font-family: Gotham, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  white-space: nowrap;
  z-index: 12;
}

.rectangle-3 {
  position: absolute;
  width: 100%;
  height: 550px;
  top: 0;
  left: 0;
  bottom: 20px;
  background: #ececec;
  z-index: 11;
  border-radius: 10px;
}

.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 55px;
  color: #0f4bb4;
  font-family: Gotham, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  z-index: 1;
}

/* // LE PHONE screen size Galaxy S24 FE */
.screen-size {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
}

.sub-head {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40px;
  width: 100%;
  height: 45px;
  color: #0f4bb4;
  font-family: Gotham, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  z-index: 2;
}


#videoElement {
  position: relative;
  top: 10px;
  width: 100%;
  height: 85%;
  margin: auto;
  background-color: black;
  z-index: 13;
  border-radius: 10px;
  object-fit: cover; 
  transform: scaleX(-1);
}
#errorMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Gotham, sans-serif;
  color: #d32f2f;
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  display: none;
  z-index: 16;
}

#subtitleBox {
  position: absolute;
  bottom: 85px;
  width: 100%;
  min-height: 40px;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-family: Gotham, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  z-index: 15;
}

