<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SALIN Initial System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='translate.js') }}"></script>
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <div class="main-container">
    <div class="translate-button">
      <span class="translate-span">Translate</span>
    </div>

    <div class="s-to-t-section">
      <span class="sign-to-text">Sign-to-Text</span>
      <video id="videoElement" autoplay playsinline></video>

      <canvas id="canvasElement" style="display:none;"></canvas>

      <!-- subtitle box -->
      <div id="subtitleBox">Translated Sign Here as subtitle</div>
      <div id="errorMessage"></div>
      <div class="rectangle-3"></div>
    </div>
    
    <span class="app-title">FSL DEMO APP</span>
    <div class="screen-size"></div>
    <span class="sub-head">Real-time FSL Translation</span>
  </div>

    <script src="{{ url_for('static', filename='sw.js') }}"></script>>

  </body>
</html>
